Sistemas Distribuidos/Codigo/Web Services/WebService01_Cliente/xml-resources/web-service-references/WS100/wsdl/localhost_8080/WebServices01/WS100.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proyecto.empresa.com/">

<xs:element name="getMensaje" type="tns:getMensaje" />

<xs:element name="getMensajeResponse" type="tns:getMensajeResponse" />

<xs:complexType name="getMensaje">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMensajeResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>